.slidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;

}
.slidebar-link{/* class-selector*/
    height: 74px;
    display: flex;
    justify-content: center;/*horizontal center*/
    align-items: center;/*vertical center */
    flex-direction: column;/* column displays our elements vertically*/
    cursor: pointer;

}
.slidebar-link:hover{
    background-color: rgb(235, 233, 233);
}
.slidebar-link img /*combination of class&element-selector*/{
    height: 24px;
    margin-bottom: 4px;

}
.slidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}